*{
    box-sizing: border-box;
}
:root{
    scrollbar-color: rgba(55, 51, 94, 0.925) white;
    scrollbar-width: thin;
}
body{
    margin: 0;
    font-family: serif;
    background-image: linear-gradient(white, rgba(55, 51, 94, 0.925)) ;
    display: flex;
    flex-direction: row;
    height: 100dvh;
    overflow: hidden;

}
body, div, ul, nav, header, footer, a, li, label{
    position: relative;
    margin: 0;
    padding: 0;
}

.header{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.582);
    position: sticky;
    top: 0;
    background-color: var(--color-inter);
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.header__img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__img{
    height: 9dvh;
    width: 9dvh;
}
.header__link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-claro);
    filter: invert(100%);
    width: 10dvh;
}
.banner{
    left: 0%;
    bottom: 0%;

    width: 80%;
    height: 90dvh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px); 
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autorun 40s linear infinite;
}


@keyframes autorun {
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
    
}
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(300px);
} 
.banner .slider .item .img-container{
    justify-content: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(rgba(114, 114, 114, 0.596),rgba(15, 15, 15, 0.61));
    border: rgba(255, 255, 255, 0.459) 1px solid;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.2s linear;
} 
.img-container:hover{
    transform: scale(1.1);
    filter:invert(100%) grayscale(100%);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    cursor:pointer;
}
.checkbox{
    display: none;
    
}
.checkbox:checked + label >.img-container{
    filter:invert(100%) grayscale(100%);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.py {
    padding-left: 30px;
    width: 185px;
    height: 80px;
}
.html {
    width: 170px;
    height: 90px;
}
.sql {
    width: 170px;
    height: 70px;
}
.git {
    width: 90px;
    height: 70px;
}
.github {
    width: 170px;
    height: 70px;
}

#git-container{
    flex-direction: column;
}

.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.144);
    box-shadow: 0px 0px 5px 0px rgb(15, 15, 15, 0.308) ;
    backdrop-filter: invert(100%) grayscale(100%) blur(3px);
    opacity: 0;
    width: 50dvw;
    height: 55dvh;
    border: solid 1px rgba(201, 201, 201, 0.342);
    border-radius: 10px;
    position:absolute;
    top: 38%;
    left: 5%;
    transition: opacity 0.3s linear;
}
#cerrar + label {
    background-color: rgba(253, 13, 13, 0.589);
    color: white;
    position: absolute;
    left: 93.5%;
    top: 2%;
    padding: 10px;
    border-radius: 9px;
}
.boton-cerrar:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.932);
}
.enlace-notas:hover{
    filter: invert(100%);
}
.descripcion, .descripcion-imagen, .enlace-notas{
    position:relative;
    margin: 10px;  
}
.descripcion{
    width: 100%;
    height: 45%;
    overflow: auto;
    border-radius: 7px;
    background-color: rgba(235, 233, 255, 0.438);
}
.descripcion-imagen{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
    margin-top: 0;
}
.enlace-notas{
    text-decoration: none;
    background-color: rgba(235, 233, 255, 0.438);
    color: rgba(0, 0, 0, 0.863);
    box-shadow: 0px 0px 5px 0px rgb(15, 15, 15, 0.308) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: auto;
    padding: 5px;
}
.regreso{
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    clip-path: polygon(15% 0%, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
    width: 10dvw;
    height: 20dvh;
    bottom: 0%;
    right: 0%;
    background-color: #23133b;
    transition: width 0.3s linear, opacity 0.3s linear;
}
.regreso:hover{
    opacity: 1;
    width: 15dvw;
}
#regreso-icono{
    color: azure;
    transform: scale(1.6);
    padding-left: 20px;
}
.img-fondo{
    transform: scale(0.7);
    opacity: 0.8;
    position: absolute;
    left: 78%;
    bottom: -30%;
}
.titulo{
    padding: 25px;
    width: 60%;
}
.tituloTexto{
    text-wrap: pretty;
    color: rgb(26, 26, 39);
    line-height: 1.5em ;
    font-size: large;
    font-family:  sans-serif;
    margin-top: 15dvh;
    font-weight: bolder;
}
.tituloPrincipal{

    line-height: 2em;
    font-size: 2.1em;
    text-wrap: pretty;
}
.descripcionTitulo{
    border-radius: 7px 0px 0px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 7px;
    background-color: rgba(19, 19, 19, 0.623);
}
.descripcionContenido{
    padding: 20px;
    text-align: justify;
}


