/* Detalles generales*/
body{
    margin: 0;
    background-color: #000000;
    color: rgba(203, 255, 238, 0.473);  
}
:root{
    scroll-behavior: smooth;
    scrollbar-color:  #030303 #ddb8ff;
    scrollbar-width: thin;
}
.principal{
    display: grid;
    grid-template-columns: 3;
    
}
.contenedor{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.contenedor__item{
    text-align: center;
}
h2{
    padding-top: 10px;
}
/* Spinner*/
.spinner{
    border: 7px solid rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    border-left-color: rgb(94, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;

    animation: spin 0.6s linear infinite;  
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }      
    100% {
        transform: rotate(360deg); 
        box-shadow: 0px 0px 10px rgb(94, 255, 1);
    }   
}
/* Botón animado*/
.boton_animado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: transparent;
    gap: .65rem;
    cursor: pointer;
    transition: .3s;
}
.boton_animado > .boton_animado__linea{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px white;
    border-radius: 5px;
    height: 2px;
    width: 100%;
    transition:all 1s;
    transform-origin: left;

}
.boton_animado:hover .boton_animado__linea:first-child{   
    transform: rotate(45deg);
}
.boton_animado:hover .boton_animado__linea:nth-child(2){   
    opacity: 0;
}
.boton_animado:hover .boton_animado__linea:nth-child(3){   
    transform: rotate(-45deg);

}
.boton_animado:active{
    transform: scale(0.9);
}
/*Botón colorido*/

.boton_colorido{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f, rgb(179, 255, 0));
    box-shadow: 0px 0px 5px white;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    
}
.boton_colorido .boton_colorido__span{
    background-color: rgba(0, 0, 0, 0.432);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;   
}
.boton_colorido:hover .boton_colorido__span{
    background: none;
    color: #000000ad;
}
.boton_colorido:active{
    transform: scale(0.9);
}
/*Botones 1 y 2*/
.btn{
    padding: 10px 40px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}
.btn-1{
    border: 1px solid #6100bd;
    overflow: hidden;
    font-family: 'Times New Roman';
}
.btn-1::before {
    content: ' ';
    background-image: linear-gradient(135deg, black, #9500ff, #09f, rgb(179, 255, 0));
    display: block;
    height: 70px;
    width: 70px;
    position: absolute;
    z-index: -1;
    top: 100%;
    right: 26%;
    margin-top: 30%;
    border-radius: 50%;
    transition: top 0.8s, margin 0.8s;
}
.btn-1:hover:before{
    top: 0%;
    margin-top: -13%;    
}
.btn-1:active{
    transform: scale(0.95);
}
.btn-2{
    border: 1px solid #555555;
    color: #555555;
}
.btn-2:hover{
    animation: parpadear 0.6s infinite alternate backwards;
}
@keyframes parpadear {
    25%{
        border-color:  #911bff;
        box-shadow: 0px 0px 6px #6200bd9d, 0px 0px 20px #6200bd9d;
    }
    60%{
        color:  #6100bd;
        text-shadow: 0px 0px 6px #aaaaaa9d, 0px 0px 20px #ffffff9d;
    }
    80%{
        border-color:  #911bff;
        box-shadow: 0px 0px 6px #6200bd9d, 0px 0px 20px #f3f3f39d;
    }
    100%{
        color:  #6100bd;
        text-shadow: 0px 0px 6px #aaaaaa9d, 0px 0px 20px #ffffff9d;
    }
}

/* Efecto typewritter*/
.contenedor__item-type{
    width: auto;
    text-wrap: nowrap;
    filter: drop-shadow(0px 0px 15px #ffffff);
}
.typewritter {
    color: white;
    font-size: larger;
    letter-spacing: 3px;
    animation: crecer 2s both steps(20) infinite alternate;
    overflow: hidden;
    position: relative;
}
.typewritter::before{
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    animation: titilar 0.5s infinite alternate;
}
.typewritter::selection{
    background-color: #ffffff1f;
}
@keyframes crecer {
    0% {
        width: 0%;
    }
    40% {
        width: 100%;
    }  
    100%{

    } 
}
@keyframes titilar {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.barra-scroll{
    position: fixed;
    width: 20%;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 6px white;
}
.mov-scroll{
    margin:3px;
    width: 20%;
    height: 85%;
    background-image: linear-gradient(90deg, #6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2, #f3dbce );
    border-radius:9px;
    text-align: center;
    color: #000000;
    animation: relleno linear;
    animation-timeline: scroll();
}
@keyframes relleno {
    from{
        width: 20%;
    }    
    to{
        width: 100%;
    }
}
.relleno{
    height: 100vh;
}
.barra-scroll-view{
    width: 20%;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 6px white;
}
.mov-scroll-view{
    margin:3px;
    width: 20%;
    height: 85%;
    background-image: linear-gradient(90deg, #1d1a39, #451952, #682549, #ae445a, #f39f5a, #e8bcb9);
    border-radius:9px;
    text-align: center;
    color: #000000;
    animation: relleno forwards linear;
    animation-timeline: view();
    animation-range-end: 70%;
    animation-range-start: 30%;
}

