/* Detalles generales*/
*{
    box-sizing: border-box;
}
:root{
    scrollbar-color: #413321 #c5bc8d;
}
*::selection{
    background-color: #4d430ab9;
}
body{
    flex-direction: column;
    display: flex;
    font-family: 'Times New Roman';
    color: var(--color-fuert);
    background-image:url(Imagenes/davinci.jpg);
    background-attachment: fixed;
    
    --color-fuert: #413321;
    --color-inter: #c5bc8d;
    --color-claro: #e0dcca;
}
body, div, ul, nav, header, footer, a, li, label{
    padding: 0;
    margin: 0;
    text-align: center;
}
.header{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.582);
    position: sticky;
    top: 0;
    background-color: var(--color-inter);
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.header__img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__img{
    height: 9dvh;
    width: 9dvh;
}
.header__link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-claro);
    filter: invert(100%);
    width: 10dvh;
}
/*.main__titulo{
    margin: 0;
    margin-top: 20px;
}*/
.main__TodosLosComponentes-container{
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30dvh,1fr));
    gap: 10px;
    justify-items: center;
}
.main__componente-container{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column;
    min-height: 30dvh;
    min-width: 30dvh;
    border: 1px solid rgba(95, 95, 95, 0.322);
    border-radius: 20px;
    
}
.main__componente{
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(4px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
}
.main__componente:hover h2{
    display: block;
}
.main__componente h2{
    display: none;
    position: absolute;
    top: 0%;
    color: var(--color-inter);

}
.main__componente-boton-container{
    background-color: var(--color-fuert);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    gap: 3px;
    height: 25%; 
    padding: 1.6dvh;   
}
.main__componente-boton-container > div {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#main__check,#cancel{
    display: none;
}
#cancel{
    color: red;
    position: fixed;
    top: calc(52.5% - 29.3dvh);
    left: calc(50% + min(900px,90dvw)/2 - 6dvh);
    z-index: 2;
}
.main__codigo-check:checked ~ #cancel{
    display: block;
}
.main__codigo-check:checked ~ .main__codigo{
    display: initial;
}
.material-symbols-outlined{
    text-decoration: none;
    color: var(--color-fuert);
}
.main__codigo{
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.589);
    background-color: rgba(0, 0, 0, 0.815);
    position: fixed;
    width: 90dvw;
    max-width: 900px;
    height: 60dvh;
    z-index: 1;
    top: calc(50% - 55dvh/2);
    left: calc(50% - min(900px,90dvw)/2);
    display: none;
    padding: 20px 0px;
}
.main__codigo > div{
    text-wrap: pretty;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: white  rgb(0, 0, 51);
    color: white;
    height: 50%;
    padding: 20px;
    padding-right: 30px;
}
.main__css{
    border-top: solid 25px rgba(245, 245, 245, 0.267);
}
.main__html>h2{
    color: orangered;
}
.main__css>h2{
    color: rgb(0, 140, 255);

}
.main__codigo > div > h2{
    margin: 0;
    margin-bottom: 10px ;
    font-size: 2rem;
    font-weight: bolder;
}
.main__TodosLosComponentes-container:active ~.main__codigo{
    display: none;
}
.main__codigo-container, .main__descarga-container{
    background-color: var(--color-inter);
    padding: 1px;
    width: 21%;
}
.main__codigo-container{
    border-radius: 0px 5px 5px 0px;
}
.main__descarga-container{
    border-radius: 5px 0px 0px 5px;
}

/* Spinner*/
.spinner{
    border: 1.5dvh solid rgba(0, 0, 0, 0.438);
    width: 10dvh;
    height: 10dvh;
    background-color:rgba(255, 255, 255, 0.103) ;
    border-left-color: rgb(94, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.788);
    animation: spin 0.8s linear infinite;  
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }      
    100% {
        transform: rotate(360deg); 
    }   
}
/* Botón animado*/
.boton_animado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: transparent;
    gap: .65rem;
    cursor: pointer;
    transition: .3s;

}
.boton_animado > .boton_animado__linea{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px white;
    border-radius: 5px;
    height: 2px;
    width: 100%;
    transition:all 1s;
    transform-origin: left;
}
.boton_animado:hover .boton_animado__linea:first-child{   
    transform: rotate(45deg);
}
.boton_animado:hover .boton_animado__linea:nth-child(2){   
    opacity: 0;
}
.boton_animado:hover .boton_animado__linea:nth-child(3){   
    transform: rotate(-45deg);

}
.boton_animado:active{
    transform: scale(0.9);
}
/*Botón colorido*/

.boton_colorido{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f, rgb(179, 255, 0));
    box-shadow: 0px 0px 5px white;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 1.8dvh;
    padding: 4px;
    cursor: pointer;
    transition: .3s;  
}
.boton_colorido .boton_colorido__span{
    background-color: rgba(0, 0, 0, 0.432);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;   
}
.boton_colorido:hover .boton_colorido__span{
    background: none;
    color: #000000ad;
}
.boton_colorido:active{
    transform: scale(0.9);
}
/*Botones 1 y 2*/
.btn{
    padding: 10px 40px;
    background-color: transparent;
    color: black;
    border-radius: 6px;
    position: relative;    
}
.btn-1{
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
    overflow: hidden;
    font-family: 'Times New Roman';
    transform: scale(2dvh);
}
.btn-1::before {
    content: ' ';
    background-image: linear-gradient(135deg, black, #9500ff, #09f, rgb(179, 255, 0));
    display: block;
    box-shadow: 0px 0px 100px rgb(255, 255, 255);
    height: 70px;
    width: 70px;
    position: absolute;
    z-index: -1;
    top: 100%;
    right: 21%;
    margin-top: 30%;
    border-radius: 50%;
    transition: top 0.8s, margin 0.8s;
}
.btn-1:hover:before{
    top: 0%;
    margin-top: -13%;    
}
.btn-1:active, .btn-2:active{
    transform: scale(1.3);
}

.btn-2{
    border: 1px solid #ffffffa6;
    color: #ffffffa6;
    background-color: rgba(0, 0, 0, 0.705);
}
.btn-2:hover{
    animation: parpadear 0.6s infinite alternate backwards;
}
@keyframes parpadear {
    25%{
        border-color:  #911bff;
        box-shadow: 0px 0px 6px #6200bd9d, 0px 0px 20px #6200bd9d;
    }
    60%{
        color:  #6100bd;
        text-shadow: 0px 0px 6px #aaaaaa9d, 0px 0px 20px #ffffff9d;
    }
    80%{
        border-color:  #911bff;
        box-shadow: 0px 0px 6px #6200bd9d, 0px 0px 20px #f3f3f39d;
    }
    100%{
        color:  #6100bd;
        text-shadow: 0px 0px 6px #aaaaaa9d, 0px 0px 20px #ffffff9d;
    }
}

/* Efecto typewritter*/
.contenedor__item-type{
    width: auto;
    text-wrap: nowrap;
    filter: drop-shadow(0px 0px 15px #ffffff);
}
.typewritter {
    color: white;
    font-size: 90%;

    animation: crecer 2s both steps(20) infinite alternate;
    overflow: hidden;
    position: relative;
}
.typewritter::before{
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    animation: titilar 0.5s infinite alternate;
}
.typewritter::selection{
    background-color: #ffffff1f;
}
@keyframes crecer {
    0% {
        width: 0%;
    }
    40% {
        width: 100%;
    }  
    100%{
    } 
}
@keyframes titilar {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
